.header {
    background-color: #ceb714;
  }

  .navbar {
    margin-right: 0px;
  }

  .rightEnd {
    flex: 1 1 auto;
  }

  .mat-divider {
    margin: 0;
    border-top-width: thick;
    border-top-style: solid;
    border-top-color:#e3ecf5;
 }