<div col-md-12>
  <mat-card style="margin: auto;">
    <mat-card-header>
      <span  style="font-size: 20px;">{{file.fileName}}</span>
    </mat-card-header>
       <mat-card-content>
  
      <div class="row">
        <div class="col-md-7" *ngIf="file.fileUrl">
          <img class="center-block img-responsive" [style.height.px]="500" [style.margin.px]="2" [style.width.px]="530" [src]="file.fileUrl">
        </div>
        <div class="verticalLine"></div>
        <div class="col-md-4">
            <div class="mb-2" style="font-size: 28px; font-weight:480;">{{file.fileName}}</div>
            <div class="mb-3" style="font-size: 23px; font-weight: 450;">Details</div>
            <div class="mb-2" style="color: rgb(165, 158, 158); font-size: 17px;">Date uploaded:</div>
            <div class="mb-2" style="font-size: 16px;">{{file.fileUploadedDate| date: 'medium'}}</div>
            <div class="mb-2" style="color: rgb(165, 158, 158); font-size: 17px;">Last Modified:</div>
            <div class="mb-2" style="font-size: 16px;">{{file.fileUploadedDate| date: 'medium'}}</div>
            <div class="mb-2" style="color: rgb(165, 158, 158); font-size: 17px;">Extension:</div>
            <div class="mb-2" style="font-size: 16px;">{{file.fileExtension}}</div>
            <div class="mb-2" style="color: rgb(165, 158, 158); font-size: 17px;">Size:</div>
            <div class="mb-2" style="font-size: 16px;">{{file.fileSize}}</div>
        </div>
  
        <div class="row mt-4">
          <div class="col-md-4 m-3">
            <button class="btn btn-outline-secondary mr-3" style="width:80px" [routerLink]="['/files']"
              queryParamsHandling="preserve">
              <i class="fa fa-chevron-left"></i> Back
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
