.checkbox-margin {
    margin:0 10px;
  }

.headerCheckbox-margin {
    margin: 0px 10px;
}

.filterBy-margin {
  margin: 0 10px;
}

.navbar-collapse {
  max-height: none;
}

.search {
  float: right;
  margin: auto;
}

// ::ng-deep .mat-checkbox .mat-checkbox-frame {
//   border-color: #ceb714;
  
// }