<div class="dflex justify-content-center" style="color: white; text-align: center;" *ngIf="CurrentState=='Wait'">
  Please Wait
</div>
<div class="dflex justify-content-center" style="color: white; text-align: center;" *ngIf="CurrentState=='NotVarified'">
  Invalid URL
</div>
<div class="dflex justify-content-center" style="color: white; text-align: center;" *ngIf="CurrentState==null">
 {{successMessage}}
</div>
<div class="dflex justify-content-center m-5" *ngIf="CurrentState=='Verified'">
  <mat-card style="width: 400px; margin: auto; height: 170px;">
    <form novalidate [formGroup]="responseForm" (ngSubmit)="onSubmit()">
      <div formGroupName="passwordGroup">
        <div class="form-group col s12" style="color: #f7f7f7;">
          <input class="form-control mb-2 mt-1" type="password" id="passwordId" formControlName="password" placeholder="New password"
            [ngClass]="{'is-invalid': passwordMessage}">
          <span class="invalid-feedback">
            {{passwordMessage}}
          </span>
          <input class="form-control mt-1" type="password" id="confirmPasswordId" placeholder="confirmPassword"
            formControlName="confirmPassword" [ngClass]="{'is-invalid': responseForm.get('passwordGroup').errors||
                                            ((responseForm.get('passwordGroup.confirmPassword').touched || 
                                            responseForm.get('passwordGroup.confirmPassword').dirty) && 
                                            !responseForm.get('passwordGroup.confirmPassword').valid) }">
          <span class="invalid-feedback">
            <span *ngIf="responseForm.get('passwordGroup').errors?.match">
              The confirmation does not match the password
            </span>
          </span>
        </div>
      </div>
      <button class=" m-1" style="background-color: #ceb714;  float: right; color: white; border-radius: 3px;" type="submit"
        [title]="responseForm.valid ? 'Save your entered data': 'Disabled untile the form data is valid'"
        [disabled]="!responseForm.valid">
        update password
      </button>
    </form>
  </mat-card>
</div>