<div class="d-flex justify-content-center mb-1 mt-3" style="color: white; font-size: 17px;">
  Forgot your password?  
</div>
<div class="d-flex justify-content-center mb-3 mt-2" style="color: white; font-size: 15px;">
  Enter your email address to reset your password. You may need to check your spam folder.
</div>
<div class="d-flex justify-content-center mt-3" style="margin: auto;">
  <mat-card style="width: 400px;">
    <mat-card-content>
      <form  novalidate [formGroup]="resetForm" (ngSubmit)="onSubmit()" *ngIf="beforeSubmit">
        <div class="formGroup">
          <!-- <div class="col-xs-12 m-"> -->
            <input  class="form-control"
                    type="text" 
                    placeholder="Email" 
                    formControlName="email" 
                    style="margin: auto;"
                    [ngClass]="{'is-invalid': resetForm.get('email').dirty && !resetForm.get('email').valid}">
          <!-- </div> -->
          <span class="invalid-feedback m-1">Please enter valid email address</span>
          <div class="col-xs-8 mt-2">
            <button mat-flat-button style="background-color: #ceb714; font-size: small; color: white; float: right;" [disabled]="!resetForm.valid"
            type="submit">Reset Password</button>
          </div>
         
        </div>
      </form>
      <div *ngIf="!beforeSubmit" style="text-align: center;">Please check your email</div>
    </mat-card-content>
    </mat-card>
     
</div>

  
