// .spacer {
//     flex: 1 1 auto;
// }

.toolbarComponent {
    background-color:#cfd8dc;
}

.toolbarbutton {
    background-color: #d7ccc8;
    margin-right: 10px;
}

.card {
    // width: 40px;
    // height: 350px;
    margin: 0, auto;
    float: none;
    margin-top: 100px;;
    margin-bottom: 10px;
}
